<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Extron.EDIDManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Extron.EDIDMinderManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EDID101.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Extron.EDIDManager.Properties.Settings>
            <setting name="StartupSelection" serializeAs="String">
                <value>OpenExistingEDIDFile</value>
            </setting>
            <setting name="ShowStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxMRUFiles" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UnselectedCellColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SelectedBlockColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="SelectedCellColor" serializeAs="String">
                <value>GradientActiveCaption</value>
            </setting>
            <setting name="GridDefaultColorSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainFormStartPosition" serializeAs="String">
                <value>CenterScreen</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </Extron.EDIDManager.Properties.Settings>
        <Extron.EDIDMinderManager.Properties.Settings>
            <setting name="ShowSplashScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayDataFormat" serializeAs="String">
                <value>Hex_X2</value>
            </setting>
            <setting name="SplashScreenDuration" serializeAs="String">
                <value>2000</value>
            </setting>
        </Extron.EDIDMinderManager.Properties.Settings>
        <EDID101.Properties.Settings>
            <setting name="ShowSplashScreen" serializeAs="String">
                <value>True</value>
            </setting>
        </EDID101.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
